<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.username | replace:'@','' }}">
{% if page.date %}
  <meta name="twitter:creator" content="@{{ site.author.twitter | replace:'@','' }}">
{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.product.image %}{{ page.product.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo_image | prepend: site.baseurl | prepend: site.url }}{% endif %}">
<meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
