fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: $space-sm;
  padding: 0;
}

legend,
label,
.form-field-label {
  @include t-label;
  @include t-xxs;
  display: block;
  margin-bottom: $space-sm;
}

.form-field-sub {
  @include t-xs;
  display: block;
  margin-bottom: $space-sm;
}

label,
select,
input {
  padding: 5px 0;
}

label,
input,
select,
textarea,
.form-field-label {
  color: $color-base;
}

label,
.form-field-label {
  &.field_with_errors,
  .field_with_errors & {
    color: $color-danger;
  }
}

input,
select,
textarea {
  @include t-base;
  @include t-xs;
}
