/* Grid
 *  - - - - - - - - - - - - - - - - */
//$grid-columns: 24;
//$grid-gutter-width: 6px;

/* Screen Sizes
 *  - - - - - - - - - - - - - - - - */
$screen-xxs-min:                        375px;
$screen-xs-min:                         480px;
$screen-sm-min:                         768px;
$screen-md-min:                         1024px;
$screen-lg-min:                         1200px;
$screen-xl-min:                         1500px;
$screen-xxl-min:                        1800px;

/* Text sizes
 *  - - - - - - - - - - - - - - - - */
$text-xxs:                              12px;
$text-xs:                               15px;
$text-sm:                               20px;
$text-md:                               30px;
$text-lg:                               40px;
$text-xl:                               70px;
$text-xxl:                              125px;

$text-line-xxs:                         1.5;
$text-line-xs:                          1.5;
$text-line-sm:                          1.5;
$text-line-md:                          1.3;
$text-line-lg:                          1.25;
$text-line-xl:                          1.13;
$text-line-xxl:                         1.2;

$sm-text-xxs:                           12px;
$sm-text-xs:                            15px;
$sm-text-sm:                            20px;
$sm-text-md:                            30px;
$sm-text-lg:                            40px;
$sm-text-xl:                            70px;
$sm-text-xxl:                           125px;

$sm-text-line-xxs:                      1.5;
$sm-text-line-xs:                       1.5;
$sm-text-line-sm:                       1.5;
$sm-text-line-md:                       1.3;
$sm-text-line-lg:                       1.25;
$sm-text-line-xl:                       1.13;
$sm-text-line-xxl:                      1.2;

/* Space
 *  - - - - - - - - - - - - - - - - */
$space-xs:                              10px;
$space-sm:                              15px;
$space-md:                              30px;
$space-lg:                              60px;
$space-xl:                              90px;
$space-xxl:                             160px;

/* Borders
 *  - - - - - - - - - - - - - - - - */
$border-xs:                             1px;
$border-sm:                             3px;
$border-md:                             6px;
$border-lg:                             12px;

/* Layout
 *  - - - - - - - - - - - - - - - - */
$footer-height:                         120px;
$input-height:                          50px;

/* Colors
 *  - - - - - - - - - - - - - - - - */
$color-base:                            #fff;
$color-inverted:                        #000;
$color-bg-base:                         #000;
$color-muted:                           #807108;
$color-danger:                          #ff4379;
